* {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8" fill="white"/></svg>'), auto;
}

.nav-link {
  position: relative;
}

.nav-link:hover {
cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8" fill="yellow"/></svg>'), auto;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 2px; /* Ubica el subrayado debajo del texto */
  left: 0;
  width: 0;
  border-bottom: 2px solid transparent; /* Empieza con un subrayado transparente */
  transition: width 0.5s; /* Transición de la anchura para crear el efecto de subrayado */
}

.nav-link:hover::after {
  width: 100%; /* Anima la anchura para crear el subrayado */
  border-bottom-color: yellow; /* Cambia el color del subrayado al hacer hover */
}


/* inicio maquetación header */

body {
    font-family: 'Roboto Slab', serif;
  }
  header {
    font-family: 'Roboto Slab', serif;
  }
  
  
  .header-blue {
      background: rgb(1, 1, 180);
      padding-bottom: 3px;
      font-family: 'Roboto Slab', serif;
    }
    
    @media (min-width:768px) {
      .header-blue {
        padding-bottom: 1px;
      }
    }
    
    .header-blue .navbar {
      background: transparent;
      padding-top: .75rem;
      padding-bottom: .75rem;
      color: #ffffff;
      border-radius: 0;
      box-shadow: none;
      border: none;
    }
    
    @media (min-width:768px) {
      .header-blue .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
    
    .header-blue .navbar .navbar-brand {
      font-weight: bold;
      color: inherit;
    }
    
    .header-blue .navbar .navbar-brand:hover {
      color: #000000;
    }
    
    .header-blue .navbar .navbar-collapse {
      border-top: 0px;
      margin-top: .5rem;
      margin-left: 20px;
    }
  
    .header-blue .navbar .container-fluid .navbar-brand img{
      width: 250px; /* Cambia el valor según el tamaño deseado en píxeles */
      display: block;
      margin: 0 auto;
    }
    
    @media (min-width:768px) {
      .header-blue .navbar .navbar-collapse {
        border-color: transparent;
        margin-top: .5rem;
        margin-left: 20px;
      }
    }
    
    .header-blue .navbar .navbar-collapse span .login {
      color: #ffffff;
      margin-right: .5rem;
      text-decoration: none;
    }
    
    .header-blue .navbar .navbar-collapse span .login:hover {
      color: #ffffff;
    }
    
    .header-blue .navbar .navbar-toggler {
      border-color: rgb(255, 255, 255);
    }
    
    .header-blue .navbar .navbar-toggler:hover, .header-blue .navbar-toggler:focus {
      background: none;
    }
    
    @media (min-width: 768px) {
      .header-blue .navbar-nav .nav-link {
        padding-left: .7rem;
        padding-right: .7rem;
      }
    }
    
    @media (min-width: 992px) {
      .header-blue .navbar-nav .nav-link {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }
    }
    
    .header-blue .navbar.navbar-light .navbar-nav .nav-link {
      color: #ffffff;
    }
    
    .header-blue .navbar.navbar-light .navbar-nav .nav-link:focus, .header-blue .navbar.navbar-light .navbar-nav .nav-link:hover {
      color: #ffffff;
      background-color: transparent;
    }
    
    .header-blue .navbar .navbar-nav > li > .dropdown-menu {
      margin-top: -5px;
      box-shadow: 0 4px 8px rgba(0,0,0,.1);
      background-color: #ffffff;
      border-radius: 2px;
    }
    
    .header-blue .navbar .dropdown-menu .dropdown-item:focus, .header-blue .navbar .dropdown-menu .dropdown-item {
      line-height: 2;
      color: #ffffff;
    }
  
    
    .header-blue .action-button, .header-blue .action-button:not(.disabled):active {
      border: 1px solid rgb(255, 255, 255);
      border-radius: 40px;
      color: #ffffff;
      box-shadow: none;
      text-shadow: none;
      padding: .3rem .8rem;
      background: transparent;
      transition: background-color 0.25s;
      outline: none;
    }
   
    
    .header-blue .navbar .form-inline label {
      color: #ffffff;
    }
    
    .header-blue .navbar .form-inline .search-field {
      display: inline-block;
      width: 80%;
      background: none;
      border: none;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      color: #ffffff;
      box-shadow: none;
      color: inherit;
      transition: border-bottom-color 0.3s;
    }
    
    .header-blue .navbar .form-inline .search-field:focus {
      border-bottom: 1px solid #ffffff;
    }
    
    .header-blue .hero {
      margin-top: 20px;
      text-align: center;
    }
  
    .navbar-toggler .bi-asterisk {
      fill: #ffffff; /* Cambia este valor al color blanco que desees */
    }
    
  
    @media (min-width:768px) {
      .header-blue .hero {
        margin-top: 60px;
        text-align: left;
      }
    }
    
    .header-blue .hero h1 {
      color: #ffffff;
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      font-weight: 300;
      line-height: 1.4;
    }
    
    @media (min-width:992px) {
      .header-blue .hero h1 {
        margin-top: 190px;
        margin-bottom: 24px;
        line-height: 1.2;
      }
    }
    
    .header-blue .hero p {
      color: rgba(255, 255, 255, 0.8);
      font-size: 20px;
      margin-bottom: 30px;
      font-weight: 300;
    }
    .gif-container {
      background-color: rgb(1, 1, 180);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .gif-container img {
      max-width: 50%; /* Para asegurarse de que el GIF no se desborde del contenedor */
    }

/* fin maquetación header */




/* inicio maquetación contenido */

#contenido{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
}

/* inicio paris */
#paris{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-width: 0.3em;
    border-style: solid;
    border-color: rgb(1, 1, 180);
    border-radius: 2em;
    background-color: rgb(1, 1, 180);
}

#texto_paris {
    margin-right: 8em;
    margin-left: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: justify;
}

#texto_paris >h2  {
    font-size: 6em;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8em;
}

#texto_paris > p {
    font-size: 1.1em;
    padding-top: 0em;
    color: #ffffff;
}

#gallery_paris {
    margin-left: 8em;
    margin-right: 3em;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

#gallery_paris > img {
    width: 100%;
    border-radius: 2em;
}

/* inicio button */
.boton {
  font-family: 'Roboto Slab', serif;
  margin-top: 1em;
  margin left: 3em;
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  width: 15em;
}
.boton p {
  color: rgb(1, 1, 180);
  font-size: 1.3em;
  margin-top: 0.6em;
}
/* fin button */

/* inicio fondo ventana modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5)
}
/* fin fondo ventana modal */

/* inicio ventana o caja modal */
.contenido-modal {
  position: relative;
  border-color: #ffffff;
  border-radius: 2em;
  background-color: rgb(1, 1, 180);
  margin: auto;
  padding: 20px;
  width: 60%;
  -webkit-animation-name: animarsuperior;
  -webkit-animation-duration: 0.5s;
  animation-name: animarsuperior;
  animation-duration: 0.5s;
}

.contenido-modal h2{
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  margin-top: 2em;
  color: #ffffff;
  text-align: center;
}

.contenido-modal h3{
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  color: #ffffff;
  text-align: center;
}

.contenido-modal p{
  font-family: 'Roboto Slab', serif;
  margin-bottom: 4em;
  margin-left: 3em;
  margin-right: 3em;
  color: #ffffff;
}





/* inicio london */
#london{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border-width: 0.15em;
    border-style: solid;
    border-color: rgb(1, 1, 180);
    border-radius: 2em;
    background-color: rgb(1, 1, 180);
}

#texto_london {
    margin-right: 8em;
    margin-left: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: justify;
}

#texto_london > h2  {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8em;
}

#texto_london > p {
    font-size: 1.1em;
    padding-top: 1.5em;
    color: #ffffff;
}

#gallery_london {
    margin-left: 8em;
    margin-right: 3em;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

#gallery_london > img {
    width: 100%;
}

/* inicio online */
#online{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-width: 0.15em;
    border-style: solid;
    border-color: rgb(1, 1, 180);
    border-radius: 2em;
    background-color: rgb(1, 1, 180);
}

#texto_online {
    margin-right: 8em;
    margin-left: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: justify;
}

#texto_online >h2  {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin-bottom: 0.8em;
}

#texto_online > p {
    font-size: 1.1em;
    padding-top: 1.5em;
    color: #ffffff;
}

#gallery_online {
    margin-left: 8em;
    margin-right: 3em;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

#gallery_online > img {
    width: 100%;
}

/* fin maquetación contenido */




/* inicio maquetación foter */

footer {
  background-color: rgb(1, 1, 180); 
  color: white; 
  margin-top: 1em ;
}

footer .nav-link {
  color: white;
}

footer .nav-link:hover {
  color: yellow;
}









